* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}




h2 {
  color: turquoise;
  transform: translateY(130px);
}

.leftArticle-ul {
  display: flex;
  gap: 50px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 8vw;
}

